* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

#all {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  transition: 1s;
}
h1:hover {
  color: dodgerblue;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}
  
.autocomplete-container {
  position: relative;
  display: inline-block;
  width: 90%;
}
.suggestions-container {
  position: absolute;
  width: 100%;
}
.suggestion {
  z-index: 99;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-top: none;
  padding: 10px;
  cursor: pointer;
}
.suggestion:hover {
  background-color: #f0f0f0;
}
.suggestion-highlighted {
  background-color: #f0f0f0;
}
.suggestions-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.autocomplete-input {
  position: relative;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #f1f1f1;
}
#submit {
  width: 10%;
  padding: 10px;
  font-size: 16px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  transition: 0.2s;
}
#submit:hover {
  background-color: hsl(210, 78%, 26%);
}

.recommendation-list {
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1% 2%;
  margin-top: 1em;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: dodgerblue;
}
.recommendation {
  padding: 0.25em 0;
  font-size: 12px;
}
.recommendation a {
  font-size: 14px;
}

.un {
  color: dodgerblue;
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}
.un:hover {
  color: black;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}


#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid dodgerblue; /* Blue */
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* small devices */
@media only screen and (max-width: 768px) {
  #all {width: 100%}
} 

/* medium devices */
@media only screen and (min-width: 768px) {
  #all {width: 70%}
}

/* large devices */
@media only screen and (min-width: 1400px) {
  #all {width: 50%}
}
